main.create-event {
  display: flex;
  flex-direction: column;
  padding: 40px;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 100%;

  form {
    width: 100%;

    label {
      display: none;
    }

    input {
      width: 100%;
      padding: 20px;
      border-radius: 20px;
      font-size: 18px;
    }
  }
}
